<!DOCTYPE HTML>
<html>
<head>
    <meta content="text/html" http-equiv="content-type">
    <title>Esqueci minha senha</title>
</head>
<body style="padding-top: 20px; padding-bottom: 40px;">
<div style="background-color: #F5F5F5; border: 1px solid #CCC; margin-bottom: 8px;
            margin-top: 10px; margin-right: 8px; margin: 0 auto; max-width: 760px;padding:10px">

    <div style="">
        <h2 style="padding-left: 2%">Oi ${name}</h2>
    </div>

    <div style="">
        <h4>Para redefinir sua senha, acesse o link abaixo:</h4>

		<h4><a href="${link}" target="_blank">${link}</a></h4>
		<br/><br/>
        <h5>Muito Obrigado!</h5>
    </div>
</div>
</body>
</html>